.button {
  font-family: $deafult-font;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  color: $button--color;
  text-align: center;
  padding: 14px;
  border: 2px solid $button--border;

  &:hover {
    color: $button-hover--color;
    border-color: $button-hover--bg;
    background-color: $button-hover--bg;
  }

  &:active {
    color: $button-active--color;
    border-color: $button-active--border;
    background-color: $button-active--bg;
  }
}
