.catalog {}

.catalog--main{
  padding-top: 30px;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__product {
  margin-bottom: 30px;
  /*не знаю, куда лучше написать этот отступ*/
}

@media (min-width: $tablet-width) {
  .catalog--main{
    padding-top: 90px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__product{
    margin-bottom: 53px;
  }

}

@media (min-width: $desktop-width) {
  .catalog {
    display: flex;
  }

  .catalog__product{
    margin-bottom: 56px;
  }

  .catalog--main {
    margin-top: 56px;
  }

  .catalog__list {
    justify-content: space-between;
    width: 100%;
  }

}
