.catalog{

}
.catalog__list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.catalog__product{
  margin-bottom: 30px; /*не знаю, куда лучше написать этот отступ*/
}

@media (min-width: $tablet-width){
  .catalog__list{
    display: flex;
    flex-wrap: wrap;
  }

}

@media (min-width: $desktop-width){
  .catalog{
    display: flex;
  }
  .catalog--main{
    margin-top: 125px;
  }
  .catalog__list{
    justify-content: space-between;
  }

}
