.comments{

}
.comments__title{
  margin-bottom: 35px;
}
.comments__list{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}
.comments__text{
  line-height: 30px;
  margin-bottom: 40px;
}
.comments__author{
  color: $comments-author;
  font-size: 17px;
  line-height: 24px;
}
.comments__social{
  font-size: 17px;
  line-height: 30px;
}
.comments__control{
  font-size: 0;
  margin-bottom: 38px;
}
.comments__arrow{
  border: 1px solid $comments-arrow__border;
  min-width: 129px;
  min-height: 52px;
  &:nth-child(n+1){
    border-left: none;
  }
}
