.comments {
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: -55px;
    left: -30px;
    width: calc(100% + 60px);
    height: 8px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat-x;
  }
}

.comments--main {
  margin-bottom: 86px;
}

.comments__title {
  margin-bottom: 25px;
}

.comments__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.comments__text {
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
}

.comments__author {
  color: $comments-author;
  font-size: 17px;
  line-height: 24px;
}

.comments__social {
  font-size: 17px;
  line-height: 30px;
}

.comments__control {
  font-size: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.comments__arrow {
  position: relative;
  border: 1px solid $comments-arrow__border;
  min-width: 129px;
  min-height: 52px;
  background-color: transparent;
  cursor: pointer;
  &:nth-child(n+2) {
    border-left: none;
  }
}

.comments__icon{
  position: absolute;
  top: 13px;
  left: 37px;
  &:hover,
  &:focus{
    fill: #666666;
  }
  &:active{
    fill: #b2b2b2;
  }
}

.comments__button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 260px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
}

@media (min-width: $tablet-width) {
  .comments {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .comments--main {
    margin-bottom: 162px;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      z-index: -1;
      left: -48px;
      top: -78px;
      width: 350px;
      height: 456px;
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx){
        background-image: url("../img/review@2x.jpg");
          background-size: cover;
      }
    }
    &::after{
      bottom: -102px;
      left: -7.4%;
      height: 16px;
      width: 114.8%;
    }
  }

  .comments__title {
    @include title--fix;
    @include title--tablet;
    order: 1;
    margin-bottom: 50px;
  }

  .comments__list {
    order: 3;
    margin-bottom: 26px;
    width: 100%;
  }

  .comments__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .comments__text{
    @include text--tablet;
    margin-bottom: 61px;
    width: 100%;
  }

  .comments__control {
    position: absolute;
    bottom: -8px;
    right: 0;
  }

  .comments__arrow{
    min-width: 90px;
    background-position: 22px 12px;
    border: none;

    &:nth-child(n+2) {
      background-position: 22px 12px;
    }
  }

  .comments__author{
    font-size: 18px;
  }

  .comments__social{
    margin-bottom: 5px;
  }

  .comments__icon{
    position: absolute;
    top: 11px;
    left: 22px;
  }

  .comments__button{
    order: 2;
    padding-left: 48px;
    padding-right: 48px;
    margin: 0;
    margin-top: 3px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: $desktop-width) {
  .comments--main {
    margin-bottom: 220px;

    &::before{
      left: -175px;
      top: -70px;
    }
    &::after{
      left: -175px;
      bottom: -170px;
      height: 36px;
      width: 1050px;
      background-position: 25px top;
    }
  }

  .comments__title{
    @include title--desktop;
  }

  .comments__text{
    width: 800px;
    margin-bottom: 38px;
  }

  .comments__author{
    font-size: 17px;
  }

  .comments__button{
    margin-top: 10px;
  }
}
