.contacts{

}
.contacts__title{
  margin-left: 30px;
  margin-bottom: 40px;
}
.contacts__info{
  margin-left: 30px;
  margin-bottom: 45px;
  width: 290px;
  & td{
    line-height: 30px;
    vertical-align: top;
  }
}
.contacts__field{
  min-width: 75px;
  padding-bottom: 45px;
}
.contacts__link{
  border-bottom: 1px solid $contacts-link__border;
  color: $contacts-link__color;
  padding-bottom: 3px;
  &:hover{
    color: $contacts-link-hover__color;
    border-color: $contacts-link-hover__border;
  }
  &:active{
    color: $contacts-link-active__color;
    border-color: $contacts-link-active__border;
  }
}
.contacts__map{
  display: block;
}
.contacts__button{
  padding-left: 39px;
  padding-right: 39px;
  margin-top: 40px;
  margin-bottom: 40px;
  &:hover{
    padding-left: 41px;
    padding-right: 41px;
  }
  &:active{
    padding-left: 41px;
    padding-right: 41px;
    color: $contacts-button-active--color;
  }
}

@media (min-width: $tablet-width){
  .contacts{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts__title{
    font-size: 43px;
    line-height: 50px;
    width: 668px;
    margin: 0 auto;
    margin-bottom: 55px;
  }
  .contacts__info{
    width: 668px;
    margin: 0 auto;
    margin-bottom: 55px;
  }
  .contacts__info tbody{
    display: flex;
    justify-content: space-between;
  }
  .contacts__map{
    width: 100%;
    min-width: 768px;
    height: 40vw;
    min-height:457px;
  }
  .contacts__button{
    align-self: center;
  }
}

@media (min-width: $desktop-width){
  .contacts{
    width: 875px;
    margin: 0 auto;
    padding-left: 175px;
  }
  .contacts__title{
    margin: 0;
    margin-top: 80px;
    margin-bottom: 55px;
  }
  .contacts__info{
    margin: 0;
  }
  .contacts__value,
  .contacts__field{
    padding: 0;
  }
  .contacts__field--email{
    padding-bottom: 20px;
  }
  .contacts__info tbody{
    display: block;
  }
  .contacts__map{
    position: absolute;
    min-width: 525px;
    min-height: 427px;
    width: 525px;
    height: 427px;
    right: 0;
  }
  .contacts__button{
    align-self: auto;
  }

}
