.container {
  box-sizing: border-box;
  min-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  overflow: hidden;
}

.container--modal {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0;
    width: 87%;
    min-width: 668px;
    max-width: 1050px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1050px;
  }

  .container--righter {
    padding-left: 175px;
  }
}
