.contacts {}

.contacts--main{
  margin-bottom: 40px;
}

.contacts__title {
  margin-left: 30px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__info {
  margin-left: 30px;
  margin-bottom: 35px;
  width: 260px;


  & td {
    line-height: 30px;
    vertical-align: top;
  }
}

.contacts__field {
  min-width: 70px;
  padding-bottom: 27px;
  padding-left: 0;
}

.contacts__link {
  border-bottom: 1px solid $contacts-link__border;
  color: $contacts-link__color;
  padding-bottom: 3px;

  &:hover {
    color: $contacts-link-hover__color;
    border-color: $contacts-link-hover__border;
  }

  &:active {
    color: $contacts-link-active__color;
    border-color: $contacts-link-active__border;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  /*Временно*/
  max-height: 500px;
  margin-bottom: 38px;
}

.contacts__button {
  box-sizing: border-box;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-left: 39px;
  padding-right: 39px;
  margin: 0 auto;
  width: 260px;

  &:active {
    color: $contacts-button-active--color;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts--main{
    margin-bottom: 58px;
  }

  .contacts__title {
    @include title--fix;
    font-size: 43px;
    line-height: 50px;
    min-width: 668px;
    max-width: 1050px;
    width: 87%;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .contacts__info {
    font-size: 17px;
    min-width: 668px;
    max-width: 1050px;
    width: 87%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .contacts__info tbody {
    display: flex;
    justify-content: flex-start;
  }

  .contacts__row{
    margin-right: 30px;
  }

  .contacts__row--email{
    margin-right: 45px;
  }

  .contacts__map {
    min-width: 760px;
    height: 40vw;
    min-height: 457px;
    margin-bottom: 55px;
  }

  .contacts__button {
    font-size: 17px;
    display: inline-block;
    align-self: center;
    width: auto;
    padding-left: 39px;
    padding-right: 39px;
    &:hover{

    }
    &:active{
      padding-left: 38px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 875px;
    margin: 0 auto;
    padding-left: 175px;
    display: block;
  }

  .contacts--main {
    margin-bottom: 105px;
  }

  .contacts__title {
    display: inline-block;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 55px;
  }

  .contacts__info {
    display: inline-block;
    margin: 0;
    width: 35%;

  }

  .contacts__value,
  .contacts__field {
    padding: 0;
  }

  .contacts__field--email {
    padding-bottom: 20px;
  }

  .contacts__info tbody {
    display: block;
  }

  .contacts__map {
    float: right;
    min-width: 525px;
    min-height: 427px;
    width: 525px;
    height: 427px;

    /*Временно*/
    margin-top: -333px;
  }
}
