.contacts{

}
.contacts__title{
  margin-bottom: 40px;
}
.contacts__info{
  margin-bottom: 45px;
  & td{
    line-height: 30px;
    vertical-align: top;
  }
}
.contacts__field{
  min-width: 75px;
  padding-bottom: 45px;
}
.contacts__link{
  border-bottom: 1px solid $mint--alt;
  color: $grey;
  padding-bottom: 3px;
  &:hover{
    color: $link--hover;
    border-color: $link--hover;
  }
  &:active{
    color: $link--active;
    border-color: $line--active;
  }
}
.contacts__button{
  margin-top: 39px;
  margin-bottom: 39px;
}
