.copyright {}

.copyright__developed {
  font-size: 19px;
  line-height: 18x;
  color: $copyright__color;

  .copyright__academy:active ~ & {
    color: $copyright-active__color;
  }
}

.copyright__academy {
  position: absolute;
  font-size: 0;

  &::after{
    content: '';
    position: absolute;
    left: 31px;
    top: -3px;
    width: 27px;
    height: 34px;
    background-image: url("../../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (min-width: $desktop-width) {
  .copyright__academy{
    &::after{
      left: 29px;
    }
  }
}
