.copyright{

}
.copyright__developed{
  font-size: 19px;
  line-height: 18x;
  color: $copyright__color;

  .copyright__academy:active ~ &{
    color: $copyright-active__color;
  }
}
.copyright__academy{
  position: absolute;
  font-size: 0;
  width: 30px;
  height: 40px;
  background-color: cadetblue;
  right: 0;
  top: 27px;
}
