.copyright {}

.copyright__developed {
  display: inline-block;
  font-size: 19px;
  line-height: 18px;
  color: $copyright__color;
  vertical-align: top;
  margin-top: 5px;

  .copyright__academy:active ~ & {
    color: $copyright-active__color;
  }
}

.copyright__academy {
  position: relative;
  font-size: 0;
  vertical-align: top;
  display: inline-block;
  margin-left: 25px;
  height: auto;
}

.copyright__icon{
  position: absolute;
  fill: #63d1bb;
  &:hover,
  &:focus{
    fill: #46c1ae;
  }
  &:active{
    fill: #46c1ae;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {

}
