.features {}

.features__list {
  list-style: none;
  padding: 0;
}

.features__item {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $features__color;
  padding-right: 60px;
  margin-top: 83px;

  &:last-child {
    margin-bottom: 58px;
  }
}

.features__icon{
  position: absolute;
  fill: #63d1bb;
  left: 0;
  top: -50px;
  &--eco{
    left: 8px;
  }
  &--style{

  }
  &--like{
    top: -45px;
    left: 8px;
  }
  &--love{
    top: -49px;
    left: 3px;
  }
  &--domestic{
    top: -46px;
    left: -7px;
  }
  &--present{
    left: 2px;
  }
}

@media (min-width: $tablet-width) {
  .features {
    /**Временно**/
    margin-top: 118px;
  }

  .features--main{
    margin-bottom: 104px;
  }

  .features__title {
    @include title--fix;
    @include title--tablet;
  }

  .features__list {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .features__item {
    box-sizing: border-box;
    width: 50%;
    margin-top: 112px;
    font-size: 20px;
    line-height: 22px;
    &:first-child,
    &:nth-child(3n+1) {
      margin-top: 88px;
    }
  }

  .features__icon{
    &--eco{
      top: -54px;
      left: 11px;
    }
    &--style{
      top: -52px;
      left: 1px;
    }
    &--like{
      top: -46px;
      left: 10px;
    }
    &--love{
      top: -52px;
      left: 3px;
    }
    &--domestic{
      top: -50px;
      left: -7px;
    }
    &--present{
      top: -51px;
      left: 3px;
    }
  }

}

@media (min-width: $desktop-width) {
  .features--main{
    margin-top: 155px;
  }

  .features__title{
    @include title--desktop;
  }

  .features__list{
    align-content: flex-start;
  }

  .features__item {
    width: 290px;
    margin-right: 60px;
    padding-right: 0;
  }

}
