.form {}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 30px;
}

.form__list--modal {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 0;
}

.form__item {}

.form__item--contacts{
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0;
  }
}

.form__field {
  border: none;
  border-top: 1px solid $form-field__border;
  margin: 0;
  padding: 0;
  padding-top: 35px;
}

.form__caption {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $form-caption__color;
  padding-left: 30px;
  text-transform: uppercase;
  padding-right: 28px;
}

.form__caption--color{
  padding-right: 15px;
}

.form__caption--contacts {
  padding-left: 0;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    height: 1px;
    color: red;
    width: calc(100% - 65px);
    top: 7px;
    left: 65px;
  }
}

.form__caption--comment{
  position: relative;
  margin-bottom: 24px;
  &::after{
    content: '';
    position: absolute;
    height: 1px;
    color: red;
    width: calc(100% - 100px);
    top: 7px;
    left: 100px;
  }
}

.form__caption--modal {
  color: $form-caption-modal__color;
  font-weight: normal;
  padding: 0;
}

.form__sign {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $form-sign__color;
  margin-left: 61px;
  margin-bottom: 23px;
}

.form__sign--color {
  margin-bottom: 43px;
}

.form__desc {
  display: block;
  color: $form-desc__color;
}

.form__text {
  font-size: 17px;
  line-height: 18px;
  color: $form-text__color;
  border: none;
  border-bottom: 2px solid $form-text__border;
  background-color: inherit;
  padding-bottom: 17px;
  padding-top: 10px;
  margin-bottom: 22px;
  width: 100%;
  outline: none;

  &::placeholder {
    color: $form-text__placeholder;
  }

  &:hover {
    border-color: $form-text-hover__border;
  }

  &:active,
  &:focus {
    border-color: $form-text-active__border;
  }
}

.form__text--contacts{
  padding-top: 24px;
  margin-bottom: 0;
}

.form__comment {
  font-size: 17px;
  line-height: 18px;
  color: $form-comment__color;
  box-sizing: border-box;
  min-width: 260px;
  width: calc(100% - 38px);
  min-height: 142px;
  border: 2px solid $form-comment__border;
  resize: none;
  outline: none;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 30px;
  padding: 15px;

  &:hover {
    border-color: $form-comment-hover__border;
  }

  &:active,
  &:focus {
    border-color: $form-comment-active__border;
    color: $form-comment-active__color;
  }
}

.form__postscript {
  display: block;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 30px;
}

/*-- Модификаторы страницы form.html --*/
.form__field--type{
  margin-bottom: 20px;
}

.form__field--name{
  padding-top: 27px;
}

.form__field--contacts {
  padding-top: 8px;
  border-top: 0;
  margin-bottom: 7px;
}

.form__field--comment {
  padding-top: 25px;
  border-top: 0;
}

/*-- Модификаторы modal --*/
.form__field--modal {
  border: none;
  margin-bottom: 32px;
}

.form__caption--modal {
  text-align: center;
}

.form__item--modal {
  display: inline-block;
}

.form__radio-button--modal {
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  border: 2px solid $form-radio-button-modal__border;
  min-width: 78px;
  padding-top: 16px;
  padding-bottom: 16px;

  &:hover {
    border-color: $form-radio-button-modal-hover__border;
  }

  &:active,
  .form__radio--modal:checked + & {
    border-color: $form-radio-button-modal-active__border;
  }
}

.form__button {
  background-color: $form-button__bg;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  width: 260px;
  transform: translateX(15px);
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form {
    position: relative;
  }

  .form__field {
    position: relative;
    border-top: none;
    padding-top: 65px;
    &:first-child{
      padding-top: 35px;
    }
  }

  .form__field:nth-child(2n) {
    background-color: $form-field-nth-2n__bg;
  }

  .form__field--type{
    margin-bottom: 10px;
  }

  .form__field--color{
    padding-bottom: 10px;
  }

  .form__field--name{
    padding-top: 55px;
    padding-bottom: 20px;
  }

  .form__field--contacts{
    padding-bottom: 10px;
  }

  .form__field--comment{
    padding-top: 46px;
  }

  .form__caption {
    position: absolute;
    left: calc(50% - 334px);
    padding-left: 0;
    @include center--tablet;
  }

  .form__caption--name{
    margin-top: 12px;
  }

  .form__caption--comment{
    margin-top: 18px;
  }

  .form__list {
    @include center--tablet;
  }

  .form__list--color {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-left: 148px;
  }

  .form__item {
    margin-left: 165px;
    margin-bottom: 58px;
  }

  .form__item--color {
    margin-left: 0;
    width: 50%;
  }

  .form__item--name {
    display: flex;
    margin-bottom: 7px;
    margin-left: 155px;
    padding-right: 15px;
  }

  .form__item--contacts{
    margin-left: 153px;
    padding-right: 15px;
    margin-bottom: 38px;
    &:last-child{
      margin-bottom: 38px;
    }
  }

  .form__item--comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 230px;
    @include center--tablet;
    min-height: 235px;
    margin-bottom: 7px;
  }

  .form__sign{
    margin-left: 67px;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 18px;
  }

  .form__sign--color{
    margin-left: 100px;
  }

  .form__desc {
    margin-top: 10px;
    margin-right: 22px;
    font-size: 19px;
    line-height: 18px;
  }

  .form__comment {
    box-sizing: border-box;
    display: block;
    @include center--tablet;
    margin-left: 165px;
    width: 500px;
    margin-left: 167px;
  }

  .form__text--name{
    padding-left: 20px;
    padding-bottom: 14px;
    font-size: 19px;
    line-height: 18px;
  }
  .form__text--contacts{
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 14px;
    padding-left: 17px;
  }

  .form__postscript {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    position: absolute;
    left: calc(50% - 350px);
    bottom: -10px;
    width: auto;
    padding-left: 31px;
    padding-right: 31px;
    margin-bottom: 5px;
  }

  /* Модификаторы modal */
  .form__caption--modal {
    position: static;
    margin: 0;
    width: auto;
  }

  .form__field--modal{
    margin-bottom: 0;
  }

  .form__list--modal {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 28px;
  }

  .form__item--modal {
    min-width: 108px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {

  .form__field--contacts{
    padding-top: 69px;
  }

  .form__list {
    @include center--desktop;
  }

  .form__list--color {
    padding-left: 7px;
    width: 800px;
  }

  .form__item {
    padding-right: 175px;
  }

  .form__item--color {
    width: 33%;
    padding-right: 0;
  }

  .form__item--name{
    margin-left: 162px;
    margin-bottom: 6px;
  }

  .form__item--contacts{
    margin-bottom: 42px;
    margin-left: 160px;
    padding-right: 190px;
  }

  .form__item--comment {
    box-sizing: border-box;
    @include center--desktop;
  }

  .form__caption {
    left: calc(50% - 460px);
    @include center--desktop;
  }

  .form__caption--color{
    left: calc(50% - 464px);
  }

  .form__caption--name{
    top: 67px;
    left: calc(50% - 465px);
  }

  .form__caption--contacts{
    left: calc(50% - 464px);
  }

  .form__caption--comment{
    top: 62px;
    left: calc(50% - 464px);
  }

  .form__sign{
    margin-left: 75px;
  }

  .form__sign--color{
    margin-left: 125px;
  }

  .form__text {
    display: block;
  }

  .form__text--name{
    margin-right: 15px;
    margin-left: 3px;
    padding-left: 15px;
  }

  .form__comment {
    margin-left: 175px;
    width: 700px;
    font-size: 19px;
    line-height: 18px;
  }

  .form__button {
    left: calc(50% - 375px);
  }

  .form__caption {
    margin: 0;
    width: auto;
  }

  .form__postscript{
    margin-bottom: 6px;
  }

  .form__button{
    margin-bottom: 3px;
    left: calc(50% - 365px);
    padding-left: 30px;
    padding-right: 30px;
  }

    /* Модификаторы modal */

  .form__list--modal {
    width: 350px;
  }

  .form__item--modal {
    margin-left: 0;
    padding-right: 0;
    margin-bottom: 28px;
  }
}
