.form {}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 30px;
}

.form__list--modal {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 0;
}

.form__item {
  position: relative;
}

.form__item--contacts{
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0;
  }
}

.form__item--type{
  min-height: 58px;
}

.form__field {
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 35px;
}

.form__caption {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $form-caption__color;
  padding-left: 30px;
  text-transform: uppercase;
  padding-right: 28px;
  margin-bottom: 20px;

  &::after{
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: 1px;
    top: 5px;
    right: -70px;
    background-color: $form-field__border;
  }
}

.form__caption--color{
  padding-right: 15px;
}

.form__caption--name{
  margin-bottom: 30px;
}

.form__caption--contacts {
  padding-left: 0;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0px;
  &::after{
    content: '';
    position: absolute;
    height: 1px;
    background-color: $form-caption-contacts-after__bg;
    width: calc(100% - 95px);
    top: 10px;
    left: 65px;
  }
}

.form__icon{
  position: absolute;
  fill: #000000;
  opacity: 0.2;
  &--phone{
    bottom: 17px;
    right: 8px;
  }
  &--mail{
    bottom: 10px;
    right: 5px;
  }
}

.form__caption--comment{
  position: relative;
  margin-bottom: 27px;
  &::after{
    content: '';
    position: absolute;
    height: 1px;
    background-color: $form-caption-comment-after__bg;
    width: calc(100% - 100px);
    top: 7px;
    left: 100px;
  }
}

.form__caption--modal {
  color: $form-caption-modal__color;
  font-weight: normal;
  padding: 0;
}

.form__sign {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $form-sign__color;
  margin-left: 31px;

  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.form__sign--type{
  &::before{
    display: none;
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -19px;
    top: 17px;
    border-radius: 50%;
    background-color: $form-sign-type-icon__hover;
  }
  &::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    left: -31px;
    top: 5px;
    border: 2px solid $form-sign-type-icon__default;
    border-radius: 50%;
  }
  &:hover::after,
  &:focus::after{
    border-color: $form-sign-type-icon__hover;
  }
  &:active::after{
    border-color: $form-sign-type-icon__active;
  }
  &:active::before{
    display: block;
  }
  .form__radio:checked + &::after{
    border-color: $form-sign-type-icon__default;
  }
  .form__radio:checked + &::before{
    display: block;
  }
  .form__radio:checked + &:hover::after,
  .form__radio:checked + &:focus::after{
    border-color: $form-sign-type-icon__hover;
  }
  .form__radio:checked + &:hover::before,
  .form__radio:checked + &:focus::before{
    display: block;
  }
  .form__radio:checked + &:active::after{
    border-color: $form-sign-type-icon__active;
  }
  .form__radio:checked + &:active::before{
    display: none;
  }
}

.form__sign--color {
  margin-bottom: 20px;
  &::before{
    display: none;
    content: '';
    position: absolute;
    left: -23px;
    top: 14px;
    width: 25px;
    height: 17px;
    background-image: url(../img/icon-tick.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &::after{
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    left: -31px;
    top: 2px;
    border: 2px solid $form-sign-color-icon__default;
  }
  &:hover::after,
  &:focus::after{
    border-color: $form-sign-color-icon__hover;
  }
  &:active::after{
    border-color: $form-sign-color-icon__active;
  }
  &:active::before{
    display: block;
  }
  .form__checkbox:checked + &::after{
    border-color: $form-sign-color-icon__default;
  }
  .form__checkbox:checked + &::before{
    display: block;
  }
  .form__checkbox:checked + &:hover::after,
  .form__checkbox:checked + &:active::after{
    border-color: $form-sign-color-icon__hover;
  }
  .form__checkbox:checked + &:active::after{
    border-color: $form-sign-color-icon__active;
  }
  .form__checkbox:checked + &:active::before{
    display: none;
  }
}

.form__desc {
  font-size: 17px;
  line-height: 18px;
  display: block;
  color: $form-desc__color;
  margin-bottom: 5px;
}

.form__text {
  font-size: 17px;
  line-height: 18px;
  color: $form-text__color;
  border: none;
  border-bottom: 2px solid $form-text__border;
  background-color: inherit;
  padding-bottom: 17px;
  padding-top: 10px;
  margin-bottom: 22px;
  width: 100%;
  outline: none;

  &::placeholder {
    color: $form-text__placeholder;
  }

  &:hover {
    border-color: $form-text-hover__border;
  }

  &:active,
  &:focus {
    border-color: $form-text-active__border;
  }
}

.form__text--contacts{
  padding-top: 24px;
  margin-bottom: 0;
  &:hover + .form__icon,
  &:focus + .form__icon,
  &:active + .form__icon{
    fill: #62d1ba;
    opacity: 1;
  }
}

.form__comment {
  font-size: 17px;
  line-height: 18px;
  color: $form-comment__color;
  box-sizing: border-box;
  min-width: 260px;
  width: calc(100% - 38px);
  min-height: 142px;
  border: 2px solid $form-comment__border;
  resize: none;
  outline: none;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 30px;
  padding: 15px;

  &:hover {
    border-color: $form-comment-hover__border;
  }

  &:active,
  &:focus {
    border-color: $form-comment-active__border;
    color: $form-comment-active__color;
  }
}

.form__submit{
  display: flex;
  flex-direction: column;
}

.form__postscript {
  display: block;
  order: 1;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.form__button {
  background-color: $form-button__bg;
  display: block;
  order: 2;
  box-sizing: border-box;
  margin: 0 auto;
  width: 260px;
  font-weight: bold;
  text-transform: uppercase;
}

/*-- Модификаторы страницы form.html --*/
.form__field--type{
  padding-top: 20px;
  margin-bottom: 0px;
}

.form__field--color{
  padding-top: 23px;
  margin-bottom: 12px;
}

.form__field--name{
  padding-top: 0px;
}

.form__field--contacts {
  padding-top: 8px;
  border-top: 0;
  margin-bottom: 7px;
}

.form__field--comment {
  padding-top: 25px;
  border-top: 0;
}

/*-- Модификаторы modal --*/
.form__field--modal {
  position: relative;
  border: none;
  margin-bottom: 0;
  padding-top: 25px;
}

.form__caption--modal {
  position: absolute;
  left: 60px;
  top: -25px;
  text-align: center;
  text-transform: none;
  font-size: 15px;
  line-height: 30px;
}

.form__item--modal {
  display: inline-block;
}

.form__radio-button--modal {
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  border: 2px solid $form-radio-button-modal__border;
  min-width: 78px;
  padding-top: 16px;
  padding-bottom: 16px;

  &:hover {
    border-color: $form-radio-button-modal-hover__border;
  }

  &:active,
  .form__radio--modal:checked + & {
    border-color: $form-radio-button-modal-active__border;
  }
}

@media (min-width: $tablet-width) {
  .form {
    position: relative;
  }

  .form__container{
    display: flex;
    width: 668px;
    margin: 0 auto;
  }

  .form__field {
    position: relative;
    border-top: none;
    padding-top: 65px;
  }

  .form__field:nth-child(2n) {
    background-color: $form-field-nth-2n__bg;
  }

  .form__field--type{
    padding-top: 18px;
    padding-bottom: 3px;
    margin-bottom: 20px;
  }

  .form__field--color{
    padding-top: 52px;
    padding-bottom: 27px;
    margin-bottom: 0;
  }

  .form__field--name{
    padding-top: 54px;
    padding-bottom: 22px;
  }

  .form__field--contacts{
    margin-bottom: 0;
    padding-bottom: 13px;
    padding-top: 67px;
  }

  .form__field--comment{
    padding-top: 50px;
  }

  .form__caption {
    padding-left: 3px;
    padding-right: 0;
    padding-top: 20px;
    width: 165px;
    &::after{
      display: none;
    }
  }

  .form__caption--contacts{
    margin-right: 40px;
    padding-top: 0;
    &::after{
      display: none;
    }
  }

  .form__caption--name{
    margin-top: 0;
    padding-top: 11px;
  }

  .form__caption--comment{
    margin-top: 0px;
    padding-left: 2px;

    &::after{
      display: none;
    }
  }

.form__icon{
  &--phone{
    right: 25px;
  }
  &--mail{
    bottom: 8px;
    right: 23px;
  }
}

  .form__list {
    align-self: flex-end;
    padding-left: 0;
  }

  .form__list--color {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
  }

  .form__list--contacts{
    width: 100%;
  }

  .form__list--name{
    box-sizing: border-box;
    padding-left: 35px;
    width: 100%;

  }

  .form__item {
    margin-left: 15px;
    margin-bottom: 25px;
  }

  .form__item--type{
    margin-bottom: 20px;
  }

  .form__item--color {
    margin-left: 0;
    margin-bottom: 23px;
    width: 50%;
  }

  .form__item--name {
    display: flex;
    margin-bottom: 6px;
    margin-left: 0px;
    padding-right: 0px;
  }

  .form__item--contacts{
    display: flex;
    padding-right: 0px;
    margin-left: 0px;
    margin-bottom: 38px;
    &:last-child{
      margin-bottom: 38px;
    }
  }

  .form__item--comment {
    display: flex;
    justify-content: space-between;
    min-height: 230px;
    @include center--tablet;
    min-height: 148px;
    margin-bottom: 43px;
  }

  .form__sign{
    padding-left: 67px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 18px;
  }

  .form__sign--type{
    &::after{
      width: 47px;
      height: 47px;
      left: -14px;
      top: 0px;
    }
    &::before{
      width: 20px;
      height: 20px;
      left: 1px;
      top: 16px;
    }
  }

  .form__sign--color{
    margin-left: 20px;
    padding-left: 80px;

    &::after{
      width: 50px;
      height: 50px;
      left: 0px;
      top: -4px;
    }
    &::before{
      left: 10px;
      top: 13px;
      width: 34px;
      height: 24px;
    }
  }

  .form__desc {
    margin-top: 10px;
    margin-right: 22px;
    font-size: 19px;
    line-height: 18px;
  }

  .form__comment {
    box-sizing: border-box;
    display: block;
    width: 500px;
    margin-left: 0px;
    font-size: 18px;
    line-height: 19px;
  }

  .form__text{
    font-size: 18px;
    line-height: 19px;
  }

  .form__text--name{
    padding-left: 20px;
    padding-bottom: 14px;
    padding-top: 9px;
    font-size: 19px;
    line-height: 18px;
  }
  .form__text--contacts{
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 14px;
    padding-left: 17px;
    padding-top: 2px;
  }

  .form__submit{
    flex-direction: row-reverse;
    align-items: baseline;
    max-width: 668px;
  }

  .form__postscript {
    text-align: right;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    width: auto;
    padding-left: 31px;
    padding-right: 31px;
    margin-top: 0px;
    margin-left: 0;
  }

  /* Модификаторы modal */
  .form__caption--modal {
    position: static;
    margin: 0;
    width: auto;
    font-size: 17px;
    line-height: 30px;
  }

  .form__field--modal{
    padding-top: 23px;
  }

  .form__field--modal{
    margin-bottom: 0;
  }

  .form__list--modal {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 28px;
  }

  .form__item--modal {
    min-width: 112px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {

  .form__container{
    width: 930px;
  }

  .form__field--contacts{
    padding-top: 69px;
  }

  .form__field--type{
    padding-top: 22px;
    margin-bottom: 15px;
  }

  .form-field__comment{
    padding-top: 4px;
  }

  .form__list {
    @include center--desktop;
  }

  .form__list--color {
    padding-left: 0;
    margin-left: 0;
    width: 800px;
  }

  .form__list--name{
    padding-left: 25px;
    padding-right: 98px;
  }

  .form__item {
    padding-right: 175px;
  }

  .form__item--type{
    margin-left: 0px;
  }

  .form__item--color {
    width: 33%;
    padding-right: 0;
  }

  .form__item--name{
    margin-left: 0px;
    padding-right: 0;
    margin-bottom: 7px;
  }

  .form__item--contacts{
    margin-bottom: 42px;
    margin-left: 0px;
    padding-right: 110px;
  }

  .form__item--comment {
    padding-right: 0;
    width: 930px;
    box-sizing: border-box;
    margin-bottom: 36px;
  }

  .form__caption {
    width: 115px;
  }

  .form__caption--color{
    width: 112px;
    padding-top: 16px;
    padding-left :2px;
  }


  .form__caption--contacts{
    margin-right: 14px;
  }

  .form__caption--comment{
    padding-top: 15px;
  }

  .form__icon{
    &--phone{
      bottom: 17px;
      right: 121px;
    }
    &--mail{
      bottom: 10px;
      right: 118px;
    }
  }

  .form__sign{
    margin-left: 0px;
  }

  .form__sign--type{
    margin-left: 32px;
    &::after{
      left: -13px;
    }
  }

  .form__sign--color{
    margin-left: 0px;
    &::after{
      top: 0;
    }
  }

  .form__text {
    display: block;
  }

  .form__text--name{
    margin-right: 15px;
    margin-left: 3px;
    padding-left: 15px;
  }

  .form__text--contacts{
    padding-top: 0;
  }

  .form__comment {
    margin-left: 0px;
    margin-right: 115px;
    width: 700px;
    font-size: 19px;
    line-height: 18px;
  }

  .form__button {
    left: calc(50% - 375px);
  }

  .form__submit{
    max-width: 800px;
  }

  .form__postscript{
    margin-bottom: 6px;
    padding-right: 48px;
  }

  .form__button{
    margin-bottom: 3px;
    left: calc(50% - 365px);
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
  }

    /* Модификаторы modal */

  .form__list--modal {
    width: 350px;
  }

  .form__item--modal {
    margin-left: 0;
    padding-right: 0;
    margin-bottom: 28px;
  }
}
