.group-product{
  &:hover,
  &:active{
    margin-top: -5px;  /*-- Поправить при построении сеток --*/
  }
}
.group-product__list{
  list-style: none;
  padding-left: 0;

}
.group-product__item{
  background-color: $mint;
  &:nth-child(2n){
    background-color: $mint--dark;
  }
}
.group-product__link{
  display: block;
  padding: 30px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  &:hover{
    padding-bottom: 35px;
  }
  &:active{
    color: #8be2d0;
    padding-bottom: 35px;
  }
}

