.group-product {}

.group-product__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.group-product__item {
  background-color: $group-product-item__bg;

  &:nth-child(2n) {
    background-color: $group-product-item-2n__bg;
  }

  &:hover,
  &:active {
    margin-top: -5px;
  }
}

.group-product__link {
  position: relative;
  display: block;
  width: 150px;
  padding-left: 30px;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 30px;
  color: $group-product-link__color;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    padding-bottom: 35px;
  }

  &:active {
    color: $group-product-link-active__color;
    padding-bottom: 35px;
  }

  &::after{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
  }
}

.group-product__link--interior{
  &::after{
    right: -104px;
    top: 23px;
    width: 40px;
    height: 62.5px;
    background-image: url("../../img/icon-interior.svg");
  }
}

.group-product__link--toy{
  &::after{
    right: -114px;
    top: 20px;
    width: 60px;
    height: 59.6px;
    background-image: url("../../img/icon-toy.svg");
  }
}

@media (min-width: $tablet-width) {
  .group-product__list {
    display: flex;
    min-width: 668px;
    max-width: 1050px;
    width: 87%;
    margin: 0 auto;
  }

  .group-product__item {
    width: 50%;
  }

  .group-product__link{
    padding-top: 28px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;
  }

  .group-product__link--interior{
    &::after{
      right: -114px;
      top: 28px;
    }
  }

  .group-product__link--toy{
    &::after{
      right: -115px;
      top: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .group-product__list {
    width: 1050px;
  }

  .group-product__item {
    width: 50%;
  }

  .group-product__link{
    padding-bottom: 13px;
  }

    .group-product__link--interior{
    &::after{
      right: -303px;
      top: 30px;
    }
  }

  .group-product__link--toy{
    &::after{
      right: -305px;
      top: 32px;
    }
  }
}
