.main-nav {
  position: relative;
}

.main-nav__logo {
  box-sizing: border-box;
  display: block;
  font-size: 0;
  margin: 0 auto;
  border-bottom: 1px solid $main-nav-item-logo__border;
  border-top: 1px solid $main-nav-item-logo__border;
  min-height: 78px;
  padding-top: 21px;
}

.main-nav__logo-image {
  display: block;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  border: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  width: 78px;
  height: 78px;
  right: 0;
  top: 0;
  background-color: transparent;
}

.main-nav__toggle-icon{
  position: absolute;
}

.main-nav__toggle-icon--open{
  display: none;
  left: -17px;
  top: 0;
}

.main-nav__toggle-icon--close{
  right: 27px;
  top: 29px;
}

.main-nav__toggle--hide {
  display: none;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list--close{
  display: none;
}

.main-nav__link {
  position: relative;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
  line-height: 24px;
  color: $main-nav-link__color;
  font-weight: bold;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 46px;
  width: 260px;
  margin: 0 auto;
  text-align: left;
  &:hover {
    color: $main-nav-link-hover__color;
  }
  &:active,
  &--current {
    color: $main-nav-link-active__color;
  }
  &--current:hover {
    color: $main-nav-link-current-hover__color;
  }
  &:hover .main-nav__icon,
  &:focus .main-nav__icon{
    fill: #63d1bb;
    opacity: 1;
  }
  &:active .main-nav__icon{
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.main-nav__icon{
  opacity: 0.2;
}

.main-nav__icon--search{
  position: absolute;
  left: 3px;
  top: 33px;
}

.main-nav__icon--cart{
  position: absolute;
  left: 2px;
  top: 33px;
}

.main-nav__item {
  border-bottom: 1px solid $main-nav-item__border;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    margin-left: 0;
    border-bottom: none;
    border-top: none;
    width: 113px;
    height: 47px;
  }

  .main-nav__logo-image{
    padding-left: 0;
    width: 113px;
    height: auto;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;

    box-sizing: border-box;
    width: 60%;
  }

  .main-nav__list--user {
    order: 2;

  }

  .main-nav__item{
    border-bottom: none;
  }

  .main-nav__item--user {
    margin-left: 30px;
  }

  .main-nav__item--site {
    padding-right: 17px;
    padding-left: 17px;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }

  .main-nav__item--search {
    margin-left: auto;
    width: 82px;
    border-left: 1px solid $main-nav-item-search__border;
    border-right: 1px solid $main-nav-item-search__border;
  }

  .main-nav__item--cart{
    margin-left: 0;
  }

  .main-nav__link{
    padding-top: 32px;
    padding-bottom: 32px;
    cursor: pointer;
    width: auto;
    padding-left: 82px;
  }

  .main-nav__link--search{
    font-size: 0;
    &::before{
      left: 32px;
      top: 37px;
    }
  }

  .main-nav__link--cart{
    &::before{
      left: 30px;
      top: 35px;
    }
  }

  .main-nav__link--site{
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 24px;
  }

.main-nav__icon--search{
  left: 33px;
  top: 36px;
}

.main-nav__icon--cart{
  left: 30px;
  top: 33px;
}

  .main-nav__list--site {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    justify-content: space-between;
  }

  .main-nav__logo {
    order: 2;
    margin: 0 auto;
    padding-top: 8px;
    width: 150px;
    height: 74px;
  }

  .main-nav__logo-image{
    width: 150px;
  }

  .main-nav__list {
    width: 40%;
    min-width: 440px;
  }

  .main-nav__list--site {
    order: 1;
  }

  .main-nav__list--user {
    flex-direction: row;
  }

  .main-nav__item--site{
    padding-right: 35px;
    padding-left: 35px;
    &:first-child{
      padding-left: 0;
    }
  }

  .main-nav__item--form{
    border-left: 1px solid $main-nav-item-form__border;
  }

  .main-nav__link--site{
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 34px;
  }

  .main-nav__link--cart{
    padding-left: 85px;
  }
}
