.modal {
  position: absolute;
  bottom: -480px;
  left: 0;
  width: 100%;
  min-width: 320px;
  border-top: 1px solid $modal__border;
  border-bottom: 1px solid $modal__border;
  background-color: $modal__bg;
}

.modal__title {
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 25px;
  width: 130px;
}

.modal__button {
  display: block;
  width: 100%;
  color: $modal-button__color;
  font-weight: bold;
  border: none;
  background-color: $modal-button__bg;
  padding: 16px;
  margin-bottom: 45px;
  outline: none;

  &:hover,
  &:active {
    background-color: $modal-button-active__border;
    color: $modal-button-active__color;
  }

  /*-- по styleguide нужно смещать надпись на 5 px вверх при :hover ¯\_(ツ)_/¯ Что то тут не так --*/
}

@media (min-width: $tablet-width) {
  .modal {
    width: 566px;
    left: 50%;
    margin-left: -283px;
  }

}
