.modal {
  display: none;
  position: fixed;
  z-index: 11;
  top: calc(50% - 169px);
  left: 0;
  width: 100%;
  border-top: 1px solid $modal__border;
  border-bottom: 1px solid $modal__border;
  background-color: $modal__bg;
  box-shadow: $modal__shadow;
}

.modal--show{
  display: block;
}

.modal__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 40px;
  width: 150px;
}

.modal__button {
  display: block;
  width: 100%;
  color: $modal-button__color;
  font-weight: bold;
  border: none;
  background-color: $modal-button__bg;
  padding: 16px;
  margin-bottom: 45px;
  outline: none;
  text-transform: uppercase;

  &:hover,
  &:active {
    background-color: $modal-button-active__border;
    color: $modal-button-active__color;
  }

}

@media (min-width: $tablet-width) {
  .modal {
    left: 50%;
    top: calc(50% - 174px);
    width: 566px;
    margin-left: -283px;
    border: 1px solid $modal__border;
  }

  .modal__title{
    width: auto;
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 15px;
  }

  .modal__button{
    box-sizing: border-box;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 46px;
  }

}
