
.modal{
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.modal__title{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
}

.modal__button{
  color: #ffffff;
  font-weight: bold;
  border: none;
  background-color: $mint;
  padding: 16px;
  margin-bottom: 45px;

  outline: none;
  &:hover,
  &:active{
    background-color: $mint;
    color: #8be2d0;
  } /*-- по styleguide нужно смещать надпись на 5 px вверх при :hover ¯\_(ツ)_/¯ Что то тут не так --*/
}
