.order-main {}

.order-main--form {
  margin-bottom: 55px;
  padding-right: 30px;
}

.order-main__entry {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 5px;
  margin-top: 22px;
  padding-left: 30px;
}

@media (min-width: $tablet-width) {
  .order-main__entry {
    @include center--tablet;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 30px;
    padding-left: 0;
    margin-bottom: 40px;
  }

  .order-main--form {
    margin-top: 65px;
    padding-right: 0;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .order-main--form{
    padding-top: 53px;
    margin-bottom: 48px;
  }

  .order-main__entry {
    @include center--desktop;
    font-size: 17px;
    line-height: 30px;
    padding-left: 175px;
    padding-right: 165px;
    margin-bottom: 38px;
  }
}
