.page-footer {
  background-color: $page-footer__bg;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 260px;
}

.page-footer__social {
  width: 260px;
  margin: 0 auto;
}

.page-footer__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
}

.page-footer__item {
  font-size: 0;
  margin-right: 7px;
  width: 50px;
  height: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__link{
  position: relative;
}

.page-footer__icon{
  position: absolute;
  &--social{
    fill: #231F20;
  }
  &:hover,
  &:focus{
    fill: #46c1ae;
  }
  &:active{
    fill: #bde3dd;
  }
  &--logo{
    display: none;
  }
  &--inst{
    left: 9px;
    top: -2px;
  }
  &--fb{
    left: 14px;
    top: -7px;
  }
  &--twitter{
    left: 13px;
    top: -3px;
  }
}

.page-footer__copyright {
  position: relative;
  width: 190px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 35px;
  padding-left: 5px;
  &::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 132%;
    top: 10px;
    left: -16%;
    background-color: $page-footer_copyright__border;
  }
}

@media (min-width: $tablet-width) {
  .page-footer{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin: 0 auto;
  }

  .page-footer__logo{
    position: relative;
    display: block;
    margin-top: 20px;
    margin-left: 13px;
    width: 120px;
    height: 50px;
  }

  .page-footer__icon--logo{
    display: block;
    top: 10px;
    left: 7px;
  }

  .page-footer__list {
    padding-left: 77px;
    padding-top: 30px;
    padding-right: 0;
  }

  .page-footer__copyright {
    margin: 0;
    margin-right: 10px;
    padding-top: 35px;
    &::after{
      display: none;
    }
  }

  .page-footer__social {
    margin: 0;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo{
    margin-left: 0;
  }

  .page-footer__icon--logo{
    top: 6px;
    left: 2px;
  }

  .page-footer__list{
    padding-left: 70px;
    padding-top: 27px;
  }

  .page-footer__copyright{
    margin-right: 0;
    width: 184px;
  }
}
