.page-main {
  min-width: 320px;
}

.page-main__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  /* Временно */
  padding-top: 72px;
}

.page-main__banner {
  background-color: $page-main__bg;
  min-height: 178px;
}

.page-main__banner--index {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

@media (min-width: $tablet-width) {
  .page-main {
    margin-top: -71px;
  }

  .page-main__title {
    font-size: 43px;
    line-height: 50px;
    width: 520px;
    margin: 0 auto;
  }

  .page-main__title--index {
    padding-top: 100px;
  }

  .page-main__banner--index {
    min-height: 570px;
  }

  .page-main__title--catalog {
    padding-top: 105px;
    padding-bottom: 70px;
  }

  .page-main__title--form {
    padding-top: 105px;
    padding-bottom: 70px;
  }
}
