.page-main__title{
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  /* Временно */
  padding-top: 72px;
}
.page-main__banner{
  background-color: $grey--bg;
  min-height: 177px;
  margin-bottom: 27px;
}
.page-main__banner--main{
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}
