.page-main{

}
.page-main__title{
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  /* Временно */
  padding-top: 72px;
}
.page-main__banner{
  background-color: $page-main__bg;
  min-height: 280px;
}
.page-main__banner--main{
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}
.page-main__comments{
  margin-bottom: 90px;
}

@media (min-width: $tablet-width){
  .page-main
  .page-main__banner{
    min-height: 570px;
  }

}
