.product-week{
  display: flex;
  flex-direction: column;
}
.product-week--main{
  margin-bottom: 35px;
}
.product-week__name{
  color: $product-week-name__color;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 0;
}
.product-week__title{
  color: $product-week-title__color;
  font-size: 17px;
  line-height: 20px;
  order: 2;
}
.product-week__headline{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.product-week__description{
  font-size: 17px;
  line-height: 30px;
  margin: 0;
}
.product-week__info{
  line-height: 20px;
  margin-bottom: 30px;
  width: 100%;
  & td{
    border-bottom: 1px solid $product-week-info__border;
    min-width: 98px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.product-week__image{
  margin: 0 auto;
  margin-bottom: 25px;
}
.product-week__order{
  display: flex;
  flex-direction: column;
}
.product-week__price{
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 25px;
}
.product-week__button{
  width: 260px;
  margin: 0 auto;
}

@media (min-width: $tablet-width){
  .product-week{
    display: block;
    position: relative;
    font-size: 0;
  }
  .product-week--main{
    margin-bottom: 50px;
  }
  .product-week__headline{
    flex-direction: row;
    justify-content: space-between;
  }
  .product-week__name{
    font-size: 43px;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    order: 1;
  }
  .product-week__title{
    line-height: 17px;
    text-align: center;
    width: 80px;
    margin-top: 60px;
    margin-bottom: 40px;
    order: 2;
  }
  .product-week__description{
    font-size: 17px;
    width: 290px;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 50px;

    vertical-align: top;
    text-align: left;
  }
  .product-week__info{
    font-size: 15px;
    width: 290px;
    display: inline-block;
    margin-right: 40px;

    vertical-align: top;
    text-align: left;
  }
  .product-week__data{
    display: inline-block;
    text-align: left;
    width: 50%;
    vertical-align: top;
  }
  .product-week__image{
    display: inline-block;
    width: 50%;
    height: auto;
    margin-bottom: 0;
  }
  .product-week__order{
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 50%;
  }
  .product-week__price{
    width: 290px;
    display: inline-block;
    margin-right: 45px;
    margin-bottom: 33px;
  }
  .product-week__button{
    width: 274px;
    display: inline-block;
    margin-right: 45px;
  }

}
@media (min-width: $desktop-width){
  .product-week{

  }
  .product-week--main{
    padding-top: 70px;
  }
  .product-week__headline{
    position: absolute;
  }
  .product-week__name{
    font-size: 53px;
    line-height: 57px;
    order: 2;
  }
  .product-week__title{
    margin-right: 50px;
    margin-left: 45px;
  }
  .product-week__data{
    box-sizing: border-box;
    padding-left: 175px;
    margin-top: 165px;
  }
  .product-week__order{
    box-sizing: border-box;
    padding-left: 175px;
  }
}
