.product{
  border: 1px solid $product__border;
}
.product__link{
  display: block;
  margin-bottom: 10px;
}
.product__title{
  font-size: 17px;
  line-height: 24px;
}
.product__link-image{
  font-size: 0;
  margin-bottom: 30px;
}
.product__image{
  display: block;
}
.product__stats{
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
}
.product__description{
  padding-left:28px;
  padding-right: 28px;
  &:hover{
    box-shadow: $product-description-hover__shadow;
  }
  &:active{
    box-shadow: $product-description-active__shadow;
  }
}

@media (min-width: $tablet-width){
  .product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .product__title{
    margin-top: 25px;
  }
  .product__link-image{
    margin: 0;
  }
  .product__image{
    width: 100%;
    height: auto;
  }
  .product__link-image{
    width: 50%;
  }
  .product__description{
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .product__stats{
    margin-bottom: auto;
  }
  .product__price{
    margin-bottom: 25px;
    padding-top: 20px;
    &::before{
      content: "";
      display: block;
      height: 1px;
      background-color: $product-price-before__bg;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: $desktop-width){
  .product{
    width: 30%;
    overflow: hidden;
    flex-direction: column;
  }
  .product__link-image{
    width: 100%;
    height: 463px;
  }
  .product__image{
    height: 100%;
    width: auto;
    margin-left: -50%;
  }
  .product__description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
