.product{
  border: 1px solid $product__border;
}
.product__link{
  display: block;
  margin-bottom: 10px;
}
.product__title{
  font-size: 17px;
  line-height: 24px;
}
.product__link-image{
  margin-bottom: 30px;
}
.product__stats{
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
}
.product__description{
  padding-left:28px;
  padding-right: 28px;
  &:hover{
    box-shadow: $product-description-hover__shadow;
  }
  &:active{
    box-shadow: $product-description-active__shadow;
  }
}
