.special{
  border: 1px solid $special__border;
}
.special__title{
  font-size: 17px;
  line-height: 24px;
  padding: 25px;
  padding-left: 89px;
}
.special__preview{
  display: block;
}
.special__play{
  display: block;
}
