.special {
  border: 1px solid $special__border;
  margin-left: 30px;
  margin-right: 30px;
}

.special--main {
  margin-bottom: 58px;
}

.special__title {
  font-size: 17px;
  line-height: 24px;
  padding: 24px;
  padding-left: 89px;
}

.special__preview {
  display: block;
  width: 100%;
  height: auto;
}

.special__play {
  display: block;
}

.special__description {
  padding-top: 27px;
}

.special__info {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 33px;
  padding-right: 33px;
}

.special__button {
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  align-self: center;
  padding: 16px;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 33px;
  margin-left: 33px;
  margin-right: 33px;

  &:hover {
    padding-left: 25px;
    padding-right: 25px;
  }

  &:active {
    color: $special-button-active__color;
    padding-left: 25px;
    padding-right: 25px;
  }

}

@media (min-width: $tablet-width) {
  .special {
    min-width: 668px;
    max-width: 1050px;
    width: 87%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .special--main {
    margin-bottom: 58px;
  }

  .special__video {
    background-color: $special-video--bg;
    order: 1;
  }

  .special__preview {
    margin: 0 auto;
    max-height: 50vh;
    max-width: 850px;
  }

  .special__title {
    order: 2;
    margin-bottom: 33px;
    padding-bottom: 0;
  }

  .special__description {
    order: 3;
  }

  .special__info {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .special {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding-right: 55px;
    min-height: 435px;
  }

  .special--main {
    margin-bottom: 58px;
  }

  .special__title {
    display: inline-block;
    box-sizing: border-box;
    width: 31%;
    margin-top: 98px;
    padding: 0;
    padding-left: 80px;
    margin-bottom: 40px;
  }

  .special__description {
    display: inline-block;
    box-sizing: border-box;
    width: 31%;
    padding-left: 80px;
  }

  .special__info {
    padding: 0;
  }

  .special__button {
    display: inline-block;
    margin: 0;
    margin-bottom: 47px;
    width: 78%;
  }

  .special__preview {
    width: 682px;
    height: 455px;
  }

  .special__video {
    float: left;
    width: 682px;
    height: 455px;
    background: none;
  }

}
